.eu-cookie-font-arial{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}
.eu-cookie-font-arial-black{
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif !important;
}
.eu-cookie-font-arial-narrow{
	font-family: "Arial Narrow", Arial, sans-serif !important;
}
.eu-cookie-font-arial-rounded{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif !important;
}
.eu-cookie-font-avant-garde{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif !important;
}
.eu-cookie-font-calibri{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}
.eu-cookie-font-candara{
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}
.eu-cookie-font-century-gothic{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !important;
}
.eu-cookie-font-franklin-gothic{
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif !important;
}
.eu-cookie-font-futura{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif !important;
}
.eu-cookie-font-geneva{
	font-family: Geneva, Tahoma, Verdana, sans-serif !important;
}
.eu-cookie-font-gill-sans{
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important;
}
.eu-cookie-font-helvetica{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.eu-cookie-font-impact{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif !important;
}
.eu-cookie-font-lucida{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !important;
}
.eu-cookie-font-optima{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif !important;
}
.eu-cookie-font-segoiui{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
}
.eu-cookie-font-tahoma{
	font-family: Tahoma, Verdana, Segoe, sans-serif !important;
}
.eu-cookie-font-trebuchet{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !important;
}
.eu-cookie-font-verdana{
	font-family: Verdana, Geneva, sans-serif !important;
}
.eu-cookie-font-baskerville{
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif !important;
}
.eu-cookie-font-big-caslon{
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif !important;
}
.eu-cookie-font-bodoni-mt{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
}
.eu-cookie-font-book-antiqua{
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !important;
}
.eu-cookie-font-calisto-mt{
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif !important;
}
.eu-cookie-font-cambria{
	font-family: Cambria, Georgia, serif !important;
}
.eu-cookie-font-didot{
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !important;
}
.eu-cookie-font-garamond{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !important;
}
.eu-cookie-font-georgia{
	font-family: Georgia, Times, "Times New Roman", serif !important;
}
.eu-cookie-font-goudy{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif !important;
}
.eu-cookie-font-hoefler{
	font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif !important;
}
.eu-cookie-font-lucida{
	font-family: "Lucida Bright", Georgia, serif !important;
}
.eu-cookie-font-palatino{
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !important;
}
.eu-cookie-font-perpetua{
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif !important;
}
.eu-cookie-font-rockwell{
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif !important;
}
.eu-cookie-font-rockwell-extra-bold{
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace !important;
}
.eu-cookie-font-times-new-roman{
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif !important;
}
.eu-cookie-font-andale-mono{
	font-family: "Andale Mono", AndaleMono, monospace !important;
}
.eu-cookie-font-consolas{
	font-family: Consolas, monaco, monospace !important;
}
.eu-cookie-font-courier-new{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important;
}
.eu-cookie-font-lucida-console{
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace !important;
}
.eu-cookie-font-lucida-sans-typewriter{
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace !important;
}
.eu-cookie-font-monaco{
	font-family: Monaco, Consolas, "Lucida Console", monospace !important;
}
.eu-cookie-font-copperplate{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy !important;
}
.eu-cookie-font-papyrus{
	font-family: Papyrus, fantasy !important;
}
.eu-cookie-font-brush{
	font-family: "Brush Script MT", cursive !important;
}
.eu-cookie-font-size-5{
	font-size:5px !important;
}
.eu-cookie-font-size-6{
	font-size:6px !important;
}
.eu-cookie-font-size-7{
	font-size:7px !important;
}
.eu-cookie-font-size-8{
	font-size:8px !important;
}
.eu-cookie-font-size-9{
	font-size:9px !important;
}
.eu-cookie-font-size-10{
	font-size:10px !important;
}
.eu-cookie-font-size-11{
	font-size:11px !important;
}
.eu-cookie-font-size-12{
	font-size:12px !important;
}
.eu-cookie-font-size-13{
	font-size:13px !important;
}
.eu-cookie-font-size-14{
	font-size:14px !important;
}
.eu-cookie-font-size-15{
	font-size:15px !important;
}
.eu-cookie-font-size-16{
	font-size:16px !important;
}
.eu-cookie-font-size-17{
	font-size:17px !important;
}
.eu-cookie-font-size-18{
	font-size:18px !important;
}
.eu-cookie-font-size-19{
	font-size:19px !important;
}
.eu-cookie-font-size-20{
	font-size:20px !important;
}
.eu-cookie-font-size-21{
	font-size:21px !important;
}
.eu-cookie-font-size-22{
	font-size:22px !important;
}
.eu-cookie-font-size-23{
	font-size:23px !important;
}
.eu-cookie-font-size-24{
	font-size:24px !important;
}
.eu-cookie-font-size-25{
	font-size:25px !important;
}


.eu-cookie-font-weight-100{
	font-weight:100 !important;
}
.eu-cookie-font-weight-200{
	font-weight:200 !important;
}
.eu-cookie-font-weight-300{
	font-weight:300 !important;
}
.eu-cookie-font-weight-400{
	font-weight:400 !important;
}
.eu-cookie-font-weight-500{
	font-weight:500 !important;
}
.eu-cookie-font-weight-600{
	font-weight:600 !important;
}
.eu-cookie-font-weight-700{
	font-weight:700 !important;
}
.eu-cookie-font-weight-800{
	font-weight:800 !important;
}
.eu-cookie-font-weight-900{
	font-weight:900 !important;
}
.eu-cookie-font-weight-inherit{
	font-weight:inherit !important;
}
.eu-cookie-font-weight-normal{
	font-weight:normal !important;
}
.eu-cookie-font-weight-bold{
	font-weight:bold !important;
}
.eu-cookie-font-weight-bolder{
	font-weight:bolder !important;
}
.eu-cookie-font-weight-lighter{
	font-weight:lighter !important;
}